# SPDX-FileCopyrightText: Andrew Ball <andrew@aball.dev>
# SPDX-License-Identifier: MPL-2.0
name: test code

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: install
      run: npm i
    - name: lint
      run: npm run lint
    - name: build
      run: npm run build
    - name: copy dist to test directory
      run: cp -r dist tests/html/dist
    - name: install playwright
      run: npx playwright install
    - name: test
      run: npm run test